@model IEnumerable<CityDTO>
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}

<div class="col" style="padding: 25px; width:auto; height:400px; overflow:auto; margin-left: auto; margin-right: auto; ">
    <table class="table-custom">
        <tr>
            <th scope="col">City Id</th>
            <th scope="col">City Name</th>
            <th scope="col">Country Name</th>
            <th scope="col"><button class="btn btn-outline-success" onclick="showInPopup('@Url.Action("Create", "City")', 'Create')">Add New</button></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="col">@item.Id</td>
                <td scope="col">@item.Name</td>
                <td scope="col">@item.CountryName</td>
                <td scope="col"><button class="btn btn-outline-primary btn-sm" onclick="showInPopup('@Url.Action("Update", "City", new { name = item.Name})', 'Update')">Edit</button></td>
                <td scope="col"><button class="btn btn-outline-danger btn-sm" onclick="ExecuteEmptyAjax('@Url.Action("Delete", "City", new { id = item.Id})', 'Delete')">Delete</button></td>
            </tr>
        }
    </table>
</div>